astroid==2.3.3
cv==1.0.0
cycler==0.10.0
decorator==4.4.1
entrypoints==0.3
flake8==3.7.9
imageio==2.6.1
isort==4.3.21
joblib==0.14.1
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
mahotas==1.4.9
matplotlib==3.1.2
mccabe==0.6.1
networkx==2.4
numpy==1.18.1
opencv-python==4.1.2.30
pandas==0.25.3
Pillow==8.2.0
pkg-resources==0.0.0
pycodestyle==2.5.0
pyflakes==2.1.1
pylab==0.0.2
pylint==2.4.4
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
pyusb==1.0.2
PyVISA==1.10.1
PyVISA-py==0.3.1
PyWavelets==1.1.1
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.4.1
six==1.14.0
sklearn==0.0
typed-ast==1.4.1
wrapt==1.11.2
